<div class="section">
    <div class="text">
        <p>Featured Instant Coupons (135)</p>
    </div>
    <div class="filter-buttons">
        <a href=""><i class='bx bx-list-ul'></i></a>
        <a href=""><i class='bx bx-grid-alt'></i></a>
        <mat-form-field>
            <mat-label>SORT BY</mat-label>
            <mat-select>
              <mat-option value=""><i class='bx bx-sort-z-a'></i> Ascend</mat-option>
              <mat-option value=""><i class='bx bx-sort-a-z'></i> Descend</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
</div>