.section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .text {
        p {
            font-size: 17px;
            font-weight: 600;
        }
    }
    .filter-buttons {
        button {
            padding: 5px;
            background-color: #fff;
            color: #3A42E4;
            text-decoration: none;
            border-radius: 5px;
            border: none;
            font-size: 20px;
            margin: 5px;
            position: relative;
            &.active {
                background-color: #3A42E4;
                color: #fff;
            }
        }
        
    }
}
.container-coupons {
    display: flex;
    justify-content: center;
}