<div class="card">
    <div class="images-container">
        <div class="logo-container">
            <img class="logo-img" src="../../../../assets/images/test_brand2.jpg" alt="">
        </div>
        <img class="back-img" src="../../../../assets/images/test_image.jpg" alt="">
        <div class="pill">
            <span><i class='bx bx-money'></i> Cashback</span>
        </div>
    </div>
    <div class="info-txt">
        <p class="brand-name">Nombre marca</p>
        <p class="promo">2% cashback on all Chevron fuel purchases</p>
    </div>
</div>