<div class="coupons-container" [class.active]="gridLayout">
    <div class="grid-coupons" *ngIf="gridLayout != true">
        <app-coupon-card
        [listaMarcas]="marca"
        *ngFor="let marca of listaMarcas"
        ></app-coupon-card>
    </div>
    <div class="list-coupons" *ngIf="gridLayout == true">
        <app-coupon-list-card
        [listaMarcas]="marca"
        *ngFor="let marca of listaMarcas"
        ></app-coupon-list-card>
    </div>
</div>
<div class="button-load">
    <button mat-button (click)="loadMore()">MORE INSTANT COUPONS <i class='bx bx-chevron-right'></i></button>
</div>
