<app-header></app-header>
<div class="home-container">
    <div class="main-text">
        <p>Link your business card <br> to <span class="focus-text">unlock cashback</span> offers</p>
    </div>
    <div class="features-table">
        <table>
            <tr>
                <td></td>
                <td class="check-circle tb-head">No card linking required</td>
                <td class="check-circle tb-head">Link your card to get</td>
            </tr>
            <tr>
                <td>
                    <p>Instant coupons</p>
                </td>
                <td class="check-circle"><i class='bx bx-check-circle' ></i></td>
                <td class="check-circle"><i class='bx bx-check-circle' ></i></td>
            </tr>
            <tr>
                <td>
                    <p>Full access to Visa Savings Edge benefits</p>
                </td>
                <td></td>
                <td class="check-circle"><i class='bx bx-check-circle' ></i></td>
            </tr>
            <tr>
                <td>
                    <p>Cashback tracking</p>
                </td>
                <td></td>
                <td class="check-circle"><i class='bx bx-check-circle' ></i></td>
            </tr>
            <tr>
                <td>
                    <p>Merchant location search</p>
                </td>
                <td></td>
                <td class="check-circle"><i class='bx bx-check-circle' ></i></td>
            </tr>
            <tr>
                <td>
                    <p>Chashback offers</p>
                </td>
                <td></td>
                <td class="check-circle"><i class='bx bx-check-circle' ></i></td>
            </tr>
        </table>
    </div>
    <div class="click-to-action">
        <button mat-raised-button color="primary">LINK YOUR CARD <i class='bx bx-chevron-right'></i></button>
    </div>

    
</div>

<app-category-coupon></app-category-coupon>

<app-footer></app-footer>