.container {
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    .links {
        ul {
            list-style: none;
            li {
                margin: 1em;
                a {
                    color: #5C9FCD;
                    text-decoration: none;
                }
            }
        }
    }
    .language-container {
        padding: 5px;
        display: flex;
        align-items: center;
        .lang-select {
            margin-left: 14%;
            display: flex;
            select {
                background: transparent;
                border: none;
                font-size: 15px;
                height: 29px;
                padding: 5px;
                color: #5C9FCD;
            }
            img {
                object-fit: contain;
            }
        }
    }
}

@media screen and (min-width: 37.5em) and (max-width: 54.375em){
    .container {
        flex-direction: row;
        justify-content: space-between;
        .language-container {
            .lang-select {
                margin: 0;
            }
        }
    }
}

@media screen and (min-width: 54.438em){
    .container {
        flex-direction: row;
        justify-content: space-between;
        .links {
            ul {
                display: flex;
            }
        }
        .language-container {
            .lang-select {
                margin: 0;
            }
        }
    }
}