<div class="container">
    <div class="links">
        <ul>
            <li>
                <a href="#">Contact Support</a>
            </li>
            <li>
                <a href="#">Terms and Conditions</a>
            </li>
            <li>
                <a href="#">Privacy Policy</a>
            </li>
            <li>
                <a href="#">Cookie Policy</a>
            </li>
        </ul>
    </div>
    <div class="language-container">
        <div class="lang-select">
            <img src="../../../../assets/images/translate.png" alt="">
            <select name="" id="">
                <option value="en" selected>English (United States)</option>
                <option value="es">Español (México)</option>
            </select>
        </div>
    </div>
</div>
